@mixin boxsizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@mixin bg_setting {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
@mixin btn-gray{
  border: 1px solid #CCC;
  @include border-radius(5px, 5px);
  padding: 8px 10px;
  @include background-image(linear-gradient(#FFF, #EEE));
  font-weight: bold;
  text-decoration: none;
  color: #333;
  font-family: FontAwesome;
  &:before{
    content: "\f0da";
    margin-right: 10px;
  }
}
@mixin commentbox-btm{
  position: relative;
  @include border-radius(10px);
  padding: 10px;
  &:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 10px;
    margin-left: -10px;
  }
}
@mixin commentbox-left{
  position: relative;
  @include border-radius(10px);
  padding: 10px;
  &:after {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 10px;
    margin-top: -10px;
  }
}
@mixin flexbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
@mixin flexbox-fixed {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
}
@mixin flexbox-grow($value: 1) {
  -webkit-flex-grow: $value;
  -moz-flex-grow: $value;
  -ms-flex-grow: $value;
  flex-grow: $value;
}
@mixin flexbox-basis($value: 100%) {
  -webkit-flex-basis: $value;
  -moz-flex-basis: $value;
  -ms-flex-basis: $value;
  flex-basis: $value;
}
@mixin flex-direction($value: row) {
  @if $value == row-reverse {
    -webkit-box-direction: reverse;
    -webkit-box-orient: horizontal;
  } @else if $value == column {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
  } @else if $value == column-reverse {
    -webkit-box-direction: reverse;
    -webkit-box-orient: vertical;
  } @else {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
  }
  -webkit-flex-direction: $value;
  -moz-flex-direction: $value;
  -ms-flex-direction: $value;
  flex-direction: $value;
}
@mixin flexbox-justify($value: flex-start) {
  @if $value == flex-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
  } @else if $value == flex-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
  } @else if $value == space-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
  } @else if $value == space-around {
    -ms-flex-pack: distribute;
  } @else {
    -webkit-box-pack: $value;
    -ms-flex-pack: $value;
  }
  -webkit-justify-content: $value;
  -moz-justify-content: $value;
  justify-content: $value;
}
@mixin flexbox-align($value: stretch) {
  @if $value == flex-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
  } @else if $value == flex-end {
    -webkit-box-align: end;
    -ms-flex-align: end;
  } @else {
    -webkit-box-align: $value;
    -ms-flex-align: $value;
  }
  -webkit-align-items: $value;
  -moz-align-items: $value;
  align-items: $value;
}
@mixin flexbox-align-self($value: stretch) {
  -webkit-align-self: $value;
  -moz-align-self: $value;
  @if $value == flex-start {
    -ms-flex-item-align: start;
  } @else if $value == flex-end {
    -ms-flex-item-align: end;
  } @else {
    -ms-flex-item-align: $value;
  }
  align-self: $value;
}
@mixin flexbox-wrap($value: nowrap) {
  // No Webkit Box fallback.
  -webkit-flex-wrap: $value;
  -moz-flex-wrap: $value;
  @if $value == nowrap {
    -ms-flex-wrap: none;
  } @else {
    -ms-flex-wrap: $value;
  }
  flex-wrap: $value;
}
